//colors :
$pink: #a64d79;
$grey: #454545;
$light-grey: #666666;
//fonts :
$sans: "Open Sans", sans-serif;
$droid: "Droid Sans", sans-serif;
$syncopate: "Syncopate", sans-serif;

* {
  font-family: $sans;
  color: $grey;
}

a {
  text-decoration: none;
}

h3 {
  font-family: $droid;
}

span {
  font-family: $droid;
  font-weight: bold;
}

header{
  margin: 0 auto 0 auto;
  width: 65vw;
}

section {
  margin-top: 30px;
}

.header-left{
  float:left;
  width: 65%;

  h1 {
    margin-bottom: 15px;
    font-family: $syncopate;
    font-size: 35px;
  }
  .subtitle {
    margin: 10px 0 10px 0;
    font-family: $syncopate;
    font-size: 20px;
    color: $pink;
  }
}

address {
  float: right;
  width: 30%;
  margin-top: 23.45px;
  font-style: normal;
  font-size: 12px;

}

main {
  margin: 0 auto 0 auto;
  width: 65vw;
  clear: both;
}

h2 {
  font-family: $syncopate;
  font-size: 15px;
  color: $pink;
}

hr {
  width: 95%;
  margin-left: 0;
}

.hr-right {
  width: 88%;
}

.main-left{
  float: left;
  width: 65%;
}

.project {
  width: 95%;

  .project-tech {
    font-size: 13px;
    color: $light-grey;
    margin: 5px 0 5px;
  }
  .project-description {
    font-size: 14px;
    margin: 0;
  }
}

.project-title {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;

  a {
    margin-left: 10px;
    font-size: 13px;
    font-weight: normal;
  }
}

.experience {

  .experience-title {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 0;
  }
  .experience-subtitle {
    font-size: 13px;
    color: #666666;
    margin: 5px 0 5px;
  }
  ul {
    margin: 0;
    font-size: 15px;
  }
}

.main-right{
  float: right;
  width: 30%;
}
.skills-list {
  list-style-type: none;
  font-family: $droid;
  font-weight: bold;
  font-size: 15px;
  padding-left: 0;

  li {
    margin: 1px 0 1px 0;
    font-family: $sans;
    font-size: 12px;
    color: $light-grey;
  }
  li:first-child{
    margin-top: 5px;
  }
}

.ed-place {
  .ed-title {
    font-size: 15px;
    margin-bottom: 0;
  }
  .ed-location {
    font-size: 14px;
    margin: 5px 0 3px 0;
  }
  .ed-date {
    font-size: 12px;
    margin: 0;
    color: $light-grey;
  }
}

@media (max-width: 900px) {
  header, main {
    width: 100%;
  }
  .header-left, .header-right, .main-left, .main-right {
    float: none;
    width: 98%;
  }

}
